{% extends 'base.html.twig' %}

{% block title %} Wyraź swój filmowy gust :) {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Wyraź swój filmowy gust :)</a>
    </nav>

    <div id="root"></div>

{% endblock %}